<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title>monitoring Evaluasi Pekerjaan Kota Salatiga</title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>
</head>

<body>
    <header class="shadow" style="background-color:whitesmoke">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div style="width: 100%;height:90px;display:flex;justify-content:flex-start;align-items: center;" >
                        <img src="https://via.placeholder.com/70" alt="">
                        <div style="display: flex;flex-direction: column;margin-left: 15px;">
                            <h4 class="mt-0 mb-0"><strong>MONITORING EVALUASI PEKERJAAN</strong></h4>
                            <h4 class="mt-0 mb-0"><strong>KOTA SALATIGA</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div style="width: 100%;padding:30px;background-color: #efefef;border-radius: 10px;">
                        <h2 class="mt-0 mb-0"><strong>LAPORAN MINGGUAN</strong></h2>
                        <hr>

                        <form>
                            <div class="form-group row">
                              <label for="" class="col-sm-3 col-form-label">Jenis Laporan</label>
                              <div class="col-sm-9">
                                <select class="form-control" name="" id="">
                                    <option value="">-- Pilih --</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Prosentase Progres Pekerjaan s/d Saat Ini</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" id="" name="">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Keterangan</label>
                                <div class="col-sm-9">
                                  <textarea name="" id="" class="form-control" rows="10"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Upload Dokumentasi Progres Pekerjaan</label>
                                <div class="col-sm-9">
                                  <input type="file" class="form-control" id="" name="">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Upload Dokumentasi Progres Pekerjaan</label>
                                <div class="col-sm-9">
                                  <input type="file" class="form-control" id="" name="">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Upload Dokumentasi Progres Pekerjaan</label>
                                <div class="col-sm-9">
                                  <input type="file" class="form-control" id="" name="">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Upload Dokumentasi Progres Pekerjaan</label>
                                <div class="col-sm-9">
                                  <input type="file" class="form-control" id="" name="">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                  <button class="btn btn-primary">Simpan</button>
                                </div>
                            </div>
                        </form>
                        
                        <hr>

                        <table class="table table-bordered" style="background-color: #fff;">
                            <thead>
                                <tr>
                                    <th rowspan="2">No.</th>
                                    <th rowspan="2">Jenis Laporan</th>
                                    <th rowspan="2">Keterangan</th>
                                    <th colspan="4">Dokumentasi Progress Pekerjaan</th>
                                </tr>

                                <tr>
                                    <th>Dokumentasi 1</th>
                                    <th>Dokumentasi 2</th>
                                    <th>Dokumentasi 3</th>
                                    <th>Dokumentasi 4</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer style="background-color: whitesmoke;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h6 class="mt-3 mb-3 text-center">Copyright@2022 PEMERINTAH KOTA SALATIGA | DINAS PEKERJAAN UMUM DAN PENATAAN RUANG KOTA SALATIGA</h6>
                </div>
            </div>
        </div>
    </footer>
    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
    <!-- Plugins This Page -->
    <!-- End Plugins This Page -->
    <script type="text/javascript">
      new TypeIt("#element", {
  strings: "MONITORING EVALUASI PEKERJAAN<br/>KOTA SALATIGA",
  speed: 200,
  loop: true
}).go();
    </script>
</body>
</html>