<% include ../../template-backoffice/header.ejs %>
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Data Laporan Mingguan</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/manajemen_pekerjaan">Data</a></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form class="form-horizontal" action="#" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label class="col-sm-3 control-label">Jenis Laporan</label>
              <div class="col-sm-9">
                <select class="form-control" name="" id="">
                  <option>-- Pilih --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Prosentase Progres Pekerjaan Sampai Dengan Saat ini</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" name="" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea name="" id="" class="form-control" rows="10"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Upload Dokumentasi Progres Pekerjaan</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="" name="" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Upload Dokumentasi Progres Pekerjaan</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="" name="" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Upload Dokumentasi Progres Pekerjaan</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="" name="" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Upload Dokumentasi Progres Pekerjaan</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="" name="" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary btn-embossed">Simpan</button>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <hr>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th rowspan="2">No.</th>
                    <th rowspan="2">Jenis Laporan</th>
                    <th rowspan="2">Keterangan</th>
                    <th colspan="4">Dokumentasi Progres Pekerjaan</th>
                  </tr>

                  <tr>
                    <th>Dokumentasi 1</th>
                    <th>Dokumentasi 2</th>
                    <th>Dokumentasi 3</th>
                    <th>Dokumentasi 4</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../../template-backoffice/copyright.ejs %>

</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">

</script>