<div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2022 Pemerintah Kota Salatiga |</span>
        <span>Dinas Pekerjaan Umum dan Penataan Ruang Kota Salatiga</span>.
      </p>
    </div>
</div>