<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Edit Data Pekerjaan </strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/manajemen_pekerjaan">Data</a></li>
        <li class="active">Edit Data</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <form class="form-horizontal" action="#" method="POST" enctype="multipart/form-data">
        <div class="panel">
          <div class="panel-content">
            <div class="form-group">
              <label class="col-sm-3 control-label">Perusahaan</label>
              <div class="col-sm-9">
                <select name="" id="" class="form-control" data-search="true">
                  <option value="">-- Pilih --</option>
                </select>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">Pekerjaan</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" name="" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Lokasi Pekerjaan</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" name="" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">HPS</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" name="" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Nilai Kontrak</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" name="" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">No. Kontrak</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" name="" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Tanggal Kontrak</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="tgl1" name="" placeholder="Tanggal Awal">
              </div>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="tgl2" name="" placeholder="Tanggal Akhir">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Jaminan Pelaksanaan</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="" name="" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Jaminan Pemeliharaan</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="" name="" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Jaminan Uang Muka</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="" name="" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Jaminan Pembayaran</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="" name="" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary btn-embossed">Simpan</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <% include ../../template-backoffice/copyright.ejs %>

</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">

</script>