<footer style="background-color: whitesmoke;padding: 15px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h6 class="mt-0 mb-0 text-center"><strong>Copyright@2022 PEMERINTAH KOTA SALATIGA | DINAS PEKERJAAN UMUM DAN PENATAAN RUANG</strong></h6>
            </div>
        </div>
    </div>
</footer>